*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img#cabeça{
    width: 100vw;
    height: 60vh;
}
div#cabeçalho{
    background-color: white;
    width: 99vw;
    height: 100px;
    border: 2px solid black;
}
div#cabeçalho>div>img{
    width: 230px;
    transform: translate(+10%, +60%);
}
div#cabeçalho>div>input{
    transform: translate(+110%,+20%);
    font-size: 1.3em;
    background-color: rgba(0, 150, 0, 0.774);
    height: 60px;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid rgba(0, 150, 0, 0.774);

}
div#cabeçalho>div>input:hover{
    background-color: rgba(2, 177, 2, 0.774);
}
main{
    background-color: black;
    transform: translate(0%,-5%);
    color: white;
    padding: 30px;
}