@charset "UTF-8";
/*
    Paletas de cores
    Verde: #49a09d
    roxo: #5f2c82
*/
@media screen and (min-width: 768px) and (max-width: 992px){
    div.campo>input{
        width: 376px;
    }
    form>input[type=submit] {
        width: 420px;
    }
    form>div.campo{
        width: 420px;
    }
    form>a.botao{
        width: 420px;
    }
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    div#formulario>h1{
        font-size: 1.2em;
    }
    section#login{
        width: 80vw;
        height: 300px;
    }
    section#login>div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login>div#formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px){
    div.campo>input{
        width: 410px;
    }
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 950px;
        height: 370px;
    }
     section#login>div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login>div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario>h1{
        font-size: 2em;
    }
    div#formulario>p{
        font-size: 1.2em;
        margin: 20px 0px;
    }
}